<%- include('partials/header.ejs') %>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="header">
        <h1><i class="fas fa-link icon"></i> <%= PAGE_TITLE %></h1>
        <p>Seu novo encurtador de URL!</p>
      </div>
      <div class="col-md-12 text-center">
         <h1 class="font-weight-bold">Página não encontrada :(</h1>
         <h5>A página que você tentou acessar está indisponível ou não existe.</h5>
         <a href="/" class="btn btn-link mt-2">Ir para a página inicial</a>
      </div>
    </div>
  </div>
<%- include('partials/footer.ejs') %>